@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

/* Change the values in here to match your branding */
:root {
  /* Background color of the page */
  --background-color: #211F1C;

  --background-image: url("/bg.png");

  /* Color of the text/words */
  --text-color: white;

  /* Main color of your brand */
  --color-primary: #F28313;

  /* Secondary color of your brand */
  --color-secondary: #418dff;

  /* Which font you want to use */
  --font: "Inter", sans-serif;

  /* Color of the border around items */
  --border-color: 20px double transparent;
}

/* --- Don't need to modify below here --- */

/* Default design values of the entire document */

body {
  background: var( --background-image);
  font-family: var(--font);
  color: var(--text-color);
  font-size: 20px;

  display: flex;
  margin: 0;
  text-align: center;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
